# Python
__pycache__/
*.py[cod]

# venv
.venv/
env/
venv/

# Django
db.sqlite3
*.log

# pytest
.pytest_cache/
.cache/

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db


# Lambda build artifacts
lambda_http/build/
lambda_http/deployment.zip
deployment.zip

